{{#levels}}
<div>
    <div class="level_title">{{name}}</div>
    <img class="level_difficulty_badge" src="images/D{{difficulty}}.png" alt="D{{difficulty}}"/>

    {{#content}}
    <a class="downloadbutton" href="cdn/{{content}}">Download</a>
    {{/content}}

    {{^content}}
    <a class="downloadbutton" style="color:red;">No Download Available</a>
    {{/content}}

    {{#thumbnail}}
    <img class="stylinglevelimg" src="cdn/{{thumbnail}}"/>
    {{/thumbnail}}
    
    {{^thumbnail}}
    <img class="stylinglevelimg" src="images/default_thumb.jpg"/>
    {{/thumbnail}}

    <div class="stylinglevelmetadata">

        <div class="level_description">{{description}}</div>

        <div>
            <span style="font-weight:bold;">Difficulty: </span>
            <img class="level_difficulty_badge" src="images/D{{difficulty}}.png" alt="D{{difficulty}}"/>
            <span>D{{difficulty}}</span>
        </div>

        <span style="font-weight:bold;">Authors: </span><span>{{authors}}</span>

        <div><span style="font-weight:bold;">Uploaded by: </span><span>{{uploader}}</span></div>

        {{#bpm}}
        <div><span style="font-weight:bold;">Bpm: </span><span>{{bpm}}</span></div>
        {{/bpm}}

        {{#sublevels}}
        <div><span style="font-weight:bold;">Num sublevels: </span><span>{{sublevels}}</span></div>
        {{/sublevels}}

        {{#song}}
        <div><span style="font-weight:bold;">Song: </span><span>{{song}}</span></div>
        {{/song}}

        <a style="display:block;" hx-get="view.php?level={{id}}" hx-target="#content" hx-push-url="true">View</a>
    </div>
</div>
{{/levels}}