html
{
    overflow: hidden;
}

body
{
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Header */
body>div:first-child
{
    padding: 8px;
    border-bottom: 1px solid var(--foreground-color);
}

/* Content container */
body>div:last-child
{
    padding: 8px;
    flex-grow: 1;
    overflow: auto;

    scrollbar-color: red blue;
}

#levels
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
    gap: .5em;
}

/* Level card */
#levels>div
{
    display:grid;

    grid-template-columns: 2fr 3fr;
    align-items: center;
    grid-template-areas:
        "title title"
        "thumbnail metadata"
        "downloadbutton downloadbutton";
    
    padding: .5rem;
    gap: .5rem;
    background-color: #003;
    border-radius: 1rem;

    /* Media query below will unset this if reduced motion is wanted */
    transition: background-color 0.1s;
}

@media (prefers-reduced-motion)
{
    #levels>div
    {
        transition: unset;
    }
}

/* Level block hover */
#levels>div:hover
{
    background-color: #006;
}

/* Move thumbnails above the level information when too small */
@media only screen and (max-width: 600px)
{
    #levels>div
    {        
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-areas:
        "title"
        "thumbnail"
        "metadata"
        "downloadbutton";
    }
}

/* Level title */
/*#levels>div>div:first-child*/
.level_title
{
    grid-area: title;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.level_difficulty_badge
{
    grid-area: title;
    justify-self: left;
    margin-top: -1.3em;
}

.level_description
{
    font-style: italic;
    overflow-wrap: anywhere;
}

/* Level thumbnail */
.stylinglevelimg
{
    grid-area: thumbnail;
    width: 100%;
    flex-shrink: 0;
    border-radius: .5em;
}

/* Level metadata */
.stylinglevelmetadata
{
    grid-area: metadata;
    margin-left: 1em;
    color: #fff;
}

.downloadbutton {
    grid-area: downloadbutton;
    text-align: center;
    width: 30%;
    margin: auto;


    background-color: #008;
    color: #fff;

    border-radius: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}
.downloadbutton:hover
{
    background-color: #00a;
}

/* Beeble */
.beeble
{
    display: inline-block;
    vertical-align: top;
    min-width: 4em;
    min-height: 3em;
    max-width: 4em;
    max-height: 3em;
}