@font-face
{
    font-family: Futura;
    font-weight: normal;
    src: url(Futura_PT_Book.ttf);
}

@font-face
{
    font-family: Futura;
    font-weight: bold;
    src: url(Futura_PT_Heavy.ttf);
}

html
{
    height: 100%;
    overflow: hidden;
    font-family: Futura;
}

body
{
    height: 100%;
    margin: 0;

    background-color: #001;
    color: #fcd5c3;
    display: flex;
    flex-direction: column;
}

a
{
    color: #5f5fff;
}

/* Header */
body>div:first-child
{
    padding: 8px;
    border-bottom: 1px solid black;
}

/* Content container */
body>div:last-child
{
    padding: 8px;
    flex-grow: 1;
    overflow: auto;
}

/* Level block */
#levels>div
{
    display:flex;
    flex-direction: row;
    gap: .5em;

    margin-top: .5em;
    margin-bottom: .5em;
}

/* Level thumbnail */
#levels>div>img
{
    width: 300px;
    object-fit: scale-down;
}